/*通用效果*/
* {
	margin:0;
	padding:0;
}


/*以下为导航*/
.header {
	width:100%;
	height:180px;
	background:url(../img/headerbg.jpg) center no-repeat;
	padding:10px 24px;
	box-sizing: border-box;
}
.header .nav_l {
	width:30%;
	height:36px;
	float:left;
}
.header .nav_l a {
	color:#fff;
	font-size:14px;
	line-height: 36px;
	float:left;
	text-decoration: none;
	margin-right:14px;
	text-shadow: 0 1px 0 rgba(0,0,0,.3);
}
.header .nav_l .zz {
	background:url(../img/dd.png) left center no-repeat;
	background-size: contain;
	padding-left:38px;
}
.header .nav_l .download {
	background:url(../img/dd1.png) left center no-repeat;
	background-size: contain;
	padding-left:35px;
}



.header .search {
	width:40%;
	height:36px;
	float:left;
}
.header .search .search_box {
	width:500px;
	height:36px;
	margin:auto;
}
.header .search .search_box .txt {
	display: block;/*将该元素变为块元素*/
	width:450px;
	height:36px;
	background:#fff;
	float:left;
	font-size: 12px;
	color:#999;
	padding-left:15px;
	box-sizing: border-box;
	text-decoration: none;
	line-height: 36px;
}
.header .search .search_box .btn {
	display: block;
	width:50px;
	height:36px;
	background:#e7e7e7;
	float:left;
}
.header .search .search_box .btn i {
	display:block;
	width:16px;
	height:16px;
	background:url(../img/dd2.png) center no-repeat;
	background-size: contain;
	margin:10px 17px 0 17px;
}





.header .nav_r {
	width:30%;
	height:36px;
	float:right;
}
.header .nav_r a {
	float:right;
	margin-left:14px;
	color:#fff;
	font-size:14px;
	line-height: 36px;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0,0,0,.3);/*文字阴影效果*/  
}
.header .nav_r .tougao {
	width:100px;
	height:36px;
	background:#fb7299;
	border-radius: 5px;
	text-align: center;
}
.header .nav_r .login {
	width:36px;
	height:36px;
	border-radius: 20px;
	background:#fff;
	text-align: center;
	color:#69B8E4;
	text-shadow: 0 1px 0 rgba(0,0,255,.3);
}


/*以下为二级导航部分*/
.nav_box {
	width: 100%;
	height: 108px;
}
.nav_box .nav_bottom {
	width: 1630px;
	height: 108px;
    
	margin: auto;
}
.nav_box .nav_bottom .nav_bottom_left {
	width: 264px;
	height: 68px;
	float: left;
	margin-top: 20px;
}
.nav_box .nav_bottom .nav_bottom_left .page-tab {
	float: left;
	height: 68px;
	width: 66px;
	padding:0 15px 0;
	box-sizing: border-box;
	font-size: 12px;
	color: #666;
	text-align: center;
}
.nav_box .nav_bottom .nav_bottom_mid {
	height: 68px;
	width: 1030px;
	float: left;
	margin-top: 20px;
	margin-left: 35px;
	border-left: 1px solid #ccc;
	padding-left: 20px;
	box-sizing: border-box;
	
}
.nav_box .nav_bottom .nav_bottom_mid a {
	width: 125px;
	height: 34px;
	display: block;
	float: left;
	line-height: 34px;
	position: relative;
	color: #666;
	font-size: 14px;
	text-decoration: none;
	
}
.nav_box .nav_bottom .nav_bottom_mid a p {
	position: absolute;
	display: block;
	width: 28px;
	height: 12px;
	background: #73c9e5;
	font-size: 12px;
	line-height: 12px;
	margin: 0;
	transform: scale(.85);
	left: 30px;
	top: 10px;
	color: #fff;
	border-radius: 3px;
	padding: 2px;
	
}
.nav_box .nav_bottom .nav_bottom_right {
	width: 300px;
	height: 68px;
	float: left;
	margin-top: 20px;
	border-left: 1px solid #ccc;
	padding-left: 25px;
	box-sizing: border-box;
}
.nav_box .nav_bottom .nav_bottom_right a {
	display: block;
	width: 84px;
	height: 34px;
	float: left;
	line-height: 34px;
	font-size: 14px;
	color: #666;
	text-decoration: none;
	text-indent: 28px;
	

}
.nav_box .nav_bottom .nav_bottom_right .one {
	background: url(../img/x1.jpg) center no-repeat;
}
.nav_box .nav_bottom .nav_bottom_right .two {
	background: url(../img/x2.jpg) center no-repeat;
}
.nav_box .nav_bottom .nav_bottom_right .thr {
	background: url(../img/x3.jpg) center no-repeat;
}
.nav_box .nav_bottom .nav_bottom_right .four {
	background: url(../img/x4.jpg) center no-repeat;
}
.nav_box .nav_bottom .nav_bottom_right .five {
	background: url(../img/x5.jpg) center no-repeat;
}
.nav_box .nav_bottom .nav_bottom_right .six {
	background: url(../img/x6.jpg) center no-repeat;
}



/*以下为轮播*/

.banner_box {
	width: 100%;
	height: 242px;
	
}
.banner_box .banner {
	width: 1630px;
	height: 242px;
	margin: auto;
	
}
.banner_box .banner .banner_left {
	width: 550px;
	height: 242px;
	float: left;
}
.banner_box .banner .banner_left a {
	display: block;
	width: 550px;
	height: 242px;
	position: relative;
	overflow: hidden;
	
}
.banner_box .banner .banner_left a img {
	width: 100%;
}
.banner_box .banner .banner_left a p,
.banner_box .banner .banner_rifht a p{
	position: absolute;
	color: #fff;
	font-size: 12px;
	bottom: 10px;
	left: 10px;
}
.banner_box .banner .banner_rifht {
	width: 1070px;
	height: 242px;
	float: right;
	
}
.banner_box .banner .banner_rifht a {
	width: 206px;
	height: 116px;
	display: block;
	float: left;
	margin: 0 10px 10px 0;
	position: relative;
}
.banner_box .banner .banner_rifht .last {
	margin-right: 0;
}

.banner_box .banner .banner_rifht a img {
	width: 100%;
}



